/* Main imports and misc */
@import url('https://fonts.googleapis.com/css?family=Roboto:100');

body {
  background-color: rgb(14, 15, 15);
  font-family: 'Roboto', sans-serif;
  color: lightgray;
}

/* Hero Component styling */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.hero {
  text-align: center;
  color: gray;
}

.hero > * {
  margin: 8px;
}

.hero-pict {
  width: 200px;
  height: 200px;
  border-radius: 50%;
   /* filter: drop-shadow(0px 0px 8px cyan); */
  margin-bottom: 0px;
}

.hero-title {
  color: lightgray;
  font-weight: normal;
}

.hero-social {
  display: flex;
  justify-content: space-evenly;
  font-size: 2em;
}

.hero-social > a {
  color: lightgray;
}

.hero-social > a:hover {
  filter: drop-shadow(0px 0px 5px cyan);
}

/* Nav bar styling */
.nav {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin-right: 10%;
}

.nav a {
  text-decoration: none;
  color: lightgray;
  padding: 10px;
}

.nav a:hover {
  filter: drop-shadow(0px 0px 5px cyan);
}
